---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
	<article>
		{
			heroImage && (
				<Image
					class="frame mx-auto mb-10 block w-full"
					width={1020}
					height={510}
					src={heroImage}
					alt=""
				/>
			)
		}
		<div class="mb-10 text-center">
			<div class="text-ink-muted mb-2">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="italic">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			<h1 class="text-4xl font-bold">{title}</h1>
			<hr class="border-edge mt-6" />
		</div>
		<div class="prose max-w-none">
			<slot />
		</div>
	</article>
</BaseLayout>
